#root > .animal {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  background: aliceblue;
  margin-bottom: 2em;
  flex: 0 1 24%;
}

#root > .animal {
  padding: 0.5em;
}

#root > .animal img {
  width: 10vw;
}

#root > .animal h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: bold;
  color: rgb(43, 112, 241);
}

#root > .animal p {
  font-size: 80%;
  color: darkslategrey;
}
#root > .card {
  max-width: 400px;
  margin: 10px auto;
}

button:disabled,
button:disabled:hover {
  background-color: lightgray;
}
